@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../public/fonts/NeueHaasDisplay-Roman.eot");
  src: url("../public/fonts/NeueHaasDisplay-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("../public/fonts/NeueHaasDisplay-Roman.woff") format("woff"),
    url("../public/fonts/NeueHaasDisplay-Roman.ttf") format("truetype"),
    url("../public/fonts/NeueHaasDisplay-Roman.svg#NeueHaasDisplay-Roman")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.eot");
  src: url("../public/fonts/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../public/fonts/Roboto-Regular.woff") format("woff"),
    url("../public/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../public/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Bold.eot");
  src: url("../public/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Lato-Bold.woff2") format("woff2"),
    url("../public/fonts/Lato-Bold.woff") format("woff"),
    url("../public/fonts/Lato-Bold.ttf") format("truetype"),
    url("../public/fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Black.eot");
  src: url("../public/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Lato-Black.woff2") format("woff2"),
    url("../public/fonts/Lato-Black.woff") format("woff"),
    url("../public/fonts/Lato-Black.ttf") format("truetype"),
    url("../public/fonts/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Regular.eot");
  src: url("../public/fonts/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Lato-Regular.woff2") format("woff2"),
    url("../public/fonts/Lato-Regular.woff") format("woff"),
    url("../public/fonts/Lato-Regular.ttf") format("truetype"),
    url("../public/fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
